@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 800;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0;
}

.heading {
    text-align: center;
    font-weight: 800;
    margin-bottom: 2%;
    text-transform: uppercase;
}

body {
    width: 100%;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    background: #F5EFE7;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #4F709C;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #4F709C;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Hero */
.hero-quote {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/main-back-img.png);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    background-position: right 1px top 15px;
    padding: 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.hero-quote h1 {
    color: #fff;
    background: rgba(1, 1, 1, .6);
    border-radius: 20px;

    /* max-width: 40%; */
    /* color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    max-width: 40%;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    padding: 20px 30px;
    margin: 15% 10%; */
}


.top-bar {
    background: #D8C4B6;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.top-bar a {
    color: #000;
}

/* a.active,
a:hover {
    background-color: #4F709C;
    color: #fff !important;
    border-radius: 100px;
}


.logo {
    font-weight: 600;
    padding-left: 20%;
} */

.signup {
    font-weight: 700;
}

.nav-sides-space {
    padding-right: 20%;
}

.nav-sides-space li {
    padding: 0 10px;
}

/* Intro */


.recycle-img {
    width: 100%;
    /* z-index: 99;
    position: relative; */
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(/images/main-back-img.png);
    background-size: cover;
    background-attachment: fixed;
    padding-left: 20%;

}

.center {
    margin: auto;
    width: 50%;
    padding: 2%;
}


.recycle-img h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    max-width: 40%;
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    padding: 20px 30px;
    margin: 15% 10%;
}

.otp {
    font-size: 1rem;
    text-align: center;
    background-color: #213555;
    color: #F5EFE7;
    padding: 2% 0;
}

/* Our Story */
#our-story {
    padding: 5%;
}

.our-story-img-des {
    display: flex;
    padding: 10px;
    margin: 2% 4%;
    border: 0px#000 solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.our-story-img img {
    width: 90%;
    border-radius: 5px;
    margin-bottom: auto;
}

.our-story-des {
    margin-top: auto;
}

/* #our-story {
    padding: 2% 5%;

}

.our-story-img {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.our-story-card {
    padding: 15% 0 0;
}

.heading {
    text-align: center;
    font-weight: 800;
    margin-bottom: 2%;
    text-transform: uppercase;
} */

/* Why SCRAPTEL */

#why-scraptel {
    padding: 5% 0;
    text-align: center;
    background: #F5EFE7;
}

#why-scraptel h5, #how-it-works h2 {
    color: #213555;
    font-weight: 600;
}

.card-img-top {
    width: 10%;
}

.why-scraptel-icon, .how-it-works-icon {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.why-scraptel-card {
    padding: 20px 30px;
}

/* .read-more-container{
    display: flex;
    flex-direction: column;
} */
 
.read-more-btn{
    color: #0984e3;
}
.read-more-text{
    display: none;
}
.read-more-text--show {
    display: inline;
}

/* How it works */
#how-it-works {
    padding: 5% 0;
    text-align: center;
}

#how-it-works h4 {
    font-size: 32px;
    font-weight: 700;
    color: #213555;
}



/* Contact Us */
#contact-us {
    background: #D8C4B6;
    color: #000;
    padding: 5% 0;
}

.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none !important;
    border: 1px solid rgba(0, 0, 0, .1);
}

.bi {
    font-size: 20px;
}

.d-flex p {
    font-size: 18px;
    padding-left: 18px;
}

.col-md-7 {
    padding: 20px;
}

.col-md-5 {
    background-color: #213555;
    padding: 20px;
    color: #fff;
}

/* Footer */
#footer {
    background: #213555;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.footer-icons, p.footer-text {
    margin-top: 20px;
}

#footer .bi {
    padding-left: 20px;
    cursor: pointer;
}


.box-shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.bottom-up {
    margin: 5% 0;
}



/* Media Queries */

@media(max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #F5EFE7;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        padding: 80px 0 0 10px;
        transition: .3s ease;
    }
    #navbar.active {
        right: 0;
    }
    #navbar li {
        margin-bottom: 20px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #000;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 10px;
    }

    #lg-bag {
        display: none;
    }

    .hero-quote {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 50%;
    }

    .our-story-img {
        margin-top: 80%;
    }
    /* #our-story p.our-story-p {
        position: absolute;
    } */
}


@media(max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    .hero-quote {
        padding: 0 20px;
        background-position: 55%;    
    }

    .hero-quote h1 {
        font-size: 30px;
    }

    .our-story-img-des {
        display:block;
        height: fit-content;
    }

    .our-story-img {
        margin-top: 0;
    }

    .our-story-img img {
        width: 100%;
        margin: 0 auto 5px;
    }

    .how-it-works-icon {
        width: 10%;
    }

    #contact-us {
        padding: 0;
    }

    #footer {
        background: #F5EFE7;
        color: #000;
        padding-bottom: 20px;
    }
}
