<%- include("partials/header");-%>    
    <!-- <section id="navbar">
        <nav class="navbar navbar-expand-lg top-bar">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#">Scraptel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-active" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto nav-sides-space">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#priceList">Price List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link signup" id="signup" href="#signup">Sign In/ Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section> -->



    <!-- Intro -->
    <section id="hero">
        <div class="hero-quote">
            <h1>"Reshaping the world by removing wastage through scrap innovation"</h1>
        </div>
        <p class="otp">If you didn't Receive OTP on your Mobile, then please <b>Leave a message on Whats App</b></p>
    </section>

    <!-- <section id="intro">
        <div class="recycle-img">
            <h1>"Reshaping the world by removing wastage through scrap innovation"</h1>
        </div>
        <p class="otp">If you didn't Receive OTP on your Mobile, then please <b>Leave a message on Whats App</b></p>
    </section> -->


    <!-- Our Story -->


    <section id="our-story" class="section-p1">
        <h1 class="heading">Our Story...</h1>
        <div class="our-story-img-des">
            <div class="our-story-img">
                <img src="/images/our_story_img.jpg" alt="our_Story">
            </div>
            <div class="our-story-des">
                <p>At <b>SCRAPTEL </b>, our passion for sustainability led us to become scrap buyers with a
                    purpose.
                    With utmost
                    politeness and professionalism, we set out on a journey to transform scrap into valuable
                    resources.
                </p>

                <p> Driven by our commitment to environmental stewardship, we saw an opportunity to make a
                    difference.
                    By
                    removing wastage and unlocking the hidden potential of scrap, we create sustainable
                    solutions
                    that
                    benefit
                    both our partners and the planet.</p>

                <p class="our-story-p"> Through transparent and respectful relationships, we have built a reputation for trust and
                    reliability. Our
                    team's expertise and innovative mindset enable us to optimize resources and minimize
                    environmental
                    impact,
                    shaping a greener future. </p>

                <p class="our-story-p"> Join us in our story as we continue to reshape sustainability through the power of scrap.
                    Together,
                    we can
                    create a brighter and more sustainable world, one scrap at a time.</p>
            </div>
        </div>
    </section>

    <!-- <section id="our-story">
        <h1 class="heading">Our Story...</h1>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="/images/our_story_img.jpg" class="img-fluid rounded-start our-story-img" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <p>At <b>SCRAPTEL </b>, our passion for sustainability led us to become scrap buyers with a
                            purpose.
                            With utmost
                            politeness and professionalism, we set out on a journey to transform scrap into valuable
                            resources.
                        </p>

                        <p class="our-story-p"> Driven by our commitment to environmental stewardship, we saw an opportunity to make a
                            difference.
                            By
                            removing wastage and unlocking the hidden potential of scrap, we create sustainable
                            solutions
                            that
                            benefit
                            both our partners and the planet.</p>

                        <p class="our-story-p"> Through transparent and respectful relationships, we have built a reputation for trust and
                            reliability. Our
                            team's expertise and innovative mindset enable us to optimize resources and minimize
                            environmental
                            impact,
                            shaping a greener future. </p>

                        <p class="our-story-p"> Join us in our story as we continue to reshape sustainability through the power of scrap.
                            Together,
                            we can
                            create a brighter and more sustainable world, one scrap at a time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Why SCRAPTEL -->
    <section id="why-scraptel">
        <h1 class="heading">Why Scraptel?</h1>
        <div class="container">
            <div class="row read-more-container">
                <div class="col-md-6 col-lg-4 py-3 ">
                    <div class="card why-scraptel-card box-shadow">
                        <img src="/images/balance.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Weight Accuracy</h5>
                            <p class="card-text">Our weighing instruments undergo regular calibration and
                                verification
                                processes to maintain their accuracy and reliability.<span class="read-more-text">
                                    Our
                                    commitment to weight accuracy extends to providing consistent and reliable
                                    measurements.</span></p>
                            <span class="read-more-btn">Read More...</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <img src="/images/conversation.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h5 class="card-title">Efficient Communication</h5>
                            <p class="card-text">We prioritize clear and timely communication with our clients. Our
                                Communication will be at trained level. Our commitment<span class="read-more-text"> to
                                    open communication ensures that our clients feel valued and engaged throughout the
                                    collaboration.</span></p>
                            <span class="read-more-btn">Read More...</span>

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <img src="/images/telescope.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h5 class="card-title">Long-term Vision</h5>
                            <p class="card-text">Our services are designed with a long-term perspective in mind. We
                                strive to contribute to our clients' sustained growth and <span
                                    class="read-more-text">success, fostering a partnership that extends beyond
                                    immediate
                                    projects to create a lasting impact.</span></p>
                            <span class="read-more-btn">Read More...</span>

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <img src="/images/customer-service.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h5 class="card-title">Customer Support</h5>
                            <p class="card-text">Our dedicated customer support team is always ready to assist clients
                                with any concerns or issues they may have. We are co<span class="read-more-text">mitted
                                    to providing prompt and helpful support, ensuring a seamless experience and complete
                                    satisfaction.</span></p>
                            <span class="read-more-btn">Read More...</span>

                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <img src="/images/growth.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h5 class="card-title">Continuous Improvement</h5>
                            <p class="card-text">We constantly seek opportunities for improvement to enhance the value
                                we provide to our clients. Through ongoing evaluation, fe<span
                                    class="read-more-text">edback, and adaptation, we ensure that our services remain
                                    relevant and effective in an ever-evolving business landscape.</span></p>
                            <span class="read-more-btn">Read More...</span>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <img src="/images/bulb.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h5 class="card-title">Tailored Solutions</h5>
                            <p class="card-text">We understand that each client is unique, and we strive to provide
                                customized services that align with their specific needs an <span
                                    class="read-more-text"> goals. Our team works closely with clients to develop
                                    tailored solutions that address their business challenges effectively.</span></p>
                            <span class="read-more-btn">Read More...</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- How it works -->
    <section id="how-it-works">
        <h1 class="heading">How Simple Is It?</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <div class="card-body">
                            <h4 class="card-title">Step-1</h4>
                            <img src="/images/link.png" width="100%" class="how-it-works-icon" alt="...">
                            <p class="card-text">Connect with Us Effortlessly.</p>

                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <div class="card-body">
                            <h4 class="card-title">Step-2</h4>
                            <img src="/images/deal.png" width="100%" class="how-it-works-icon" alt="...">
                            <p class="card-text">Making the Perfect Deal Simplified.</p>

                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 py-3">
                    <div class="card why-scraptel-card box-shadow">
                        <div class="card-body">
                            <h4 class="card-title">Step-3</h4>
                            <img src="/images/truck.png" width="100%" class="how-it-works-icon" alt="...">
                            <p class="card-text">Sell Your Scrap with Ease.</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact-us">
        <h1 class="heading">Any Queries?</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5>Leave A Message</h5>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Example: name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary">Send</button>
                </div>
                <div class="col-md-5">
                    <h5>Contact Us</h5>
                    <div class="mt-5">
                        <div class="d-flex">
                            <i class="bi bi-geo-alt-fill"></i>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, corporis.</p>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <i class="bi bi-telephone-fill"></i>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, corporis.</p>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <i class="bi bi-envelope-fill"></i>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, corporis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <div class="container">
            <div class="row row-cols-sm-1">
                <div class="col-md-8">
                    <p class="footer-text">Copyright 2023 Scraptel</p>
                </div>
                <div class="col-md-4 footer-icons">
                    <label for="">Follow Us: </label>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>