<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Scraptel</title>
</head>
<body>
    <div class="wrapper">
        <span id="icon-close" class="icon-close">
            <ion-icon name="close-outline"></ion-icon>
        </span>
        <div class="form-box login"> 
            <h2>Sign up</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>
                    <input type="email" required>
                    <label >Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type="password"  required>
                    <label >Password</label>
                </div>
                <div class="forgot">
                    <a href="#">Forget password</a>
                 </div>
                 <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Don't have an account?<a href="#" class="register-link">Sign in</a></p>
                </div>
            </form>
        </div>
        <div class="form-box register"> 
            <h2>Sign in</h2>
            <form action="/">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <input type="text" required>
                    <label >Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </span>
                    <input type="email" required>
                    <label >Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type="password"  required>
                    <label >Password</label>
                </div>
                <div class="forgot">
                    <label> <input type="checkbox">Agree to the terms & conditions </label>
                 </div>
                 <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account?<a href="#" class="login-link">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/javascript/signup.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>